rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth.uid != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
    
    match /user/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId; // อนุญาตให้ผู้ใช้ที่ล็อกอินเข้าถึงข้อมูลของตนเอง
    }

    match /products/{productId} {
      allow read: if (request.auth != null && isAdmin()) || (resource.data.status == 'open');
      allow write: if (request.auth != null && isAdmin()) || (resource.data.status == 'open');
    }

    match /posts/{postId} {
      allow read: if true; // อนุญาตให้ทุกคนอ่านข้อมูลโพสต์
      allow read, write: if request.auth != null;
      allow create: if request.auth != null; // อนุญาตให้ผู้ใช้ที่เข้าสู่ระบบเท่านั้นสร้างโพสต์
      allow write: if request.auth != null && request.auth.uid == resource.data.userId; // อนุญาตให้ผู้ใช้ที่เข้าสู่ระบบและเป็นเจ้าของโพสต์เท่านั้นทำการแก้ไข
      allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
    }

    match /posts/{postId}/comments/{commentId} {
      allow read: if true; // อนุญาตให้ทุกคนอ่านความคิดเห็น
      allow create: if request.auth != null; // อนุญาตให้ผู้ใช้ที่เข้าสู่ระบบเท่านั้นสร้างความคิดเห็น
      allow write: if request.auth != null; // อนุญาตให้ผู้ใช้ที่เข้าสู่ระบบเท่านั้นเขียนความคิดเห็น
    }

    match /admin/{adminId} {
      allow create, update: if true;
      allow read: if request.auth != null;
    }
    // Rules for other collections
    match /user/{userId} {
      allow read, write: if request.auth != null;
    }
    
    match /news/{newsId} {
      allow read: if true; // อนุญาตให้ทุกคนอ่านข่าว
      allow create: if request.auth != null; // อนุญาตให้ผู้ใช้ที่เข้าสู่ระบบสร้างข่าว
      allow update, delete: if isAdmin(); // อนุญาตให้เฉพาะแอดมินแก้ไขหรือลบข่าว
    }

    match /noti/{notiId} {
      allow read: if true; // อนุญาตให้ทุกคนอ่านการแจ้งเตือน
      allow create: if request.auth != null; // อนุญาตให้ผู้ใช้ที่เข้าสู่ระบบสร้างการแจ้งเตือน
      allow update, delete: if isAdmin(); // อนุญาตให้เฉพาะแอดมินแก้ไขหรือลบการแจ้งเตือน
    }

     match /reposts/{userId}/userReposts/{postId} {
        allow create: if request.auth != null;
        allow read: if request.auth != null;
        allow delete: if request.auth != null;
      }

    match /likes/{userId}/userLikes/{postId} {
      allow create, delete: if request.auth != null;
      allow read: if request.auth != null && resource.data != null;
    }

    match /user/{userId}/friends/{friendId} {
      // อนุญาตให้ผู้ใช้ที่ล็อกอินสร้างเอกสารในคอลเลกชัน friends ของตัวเอง
      allow create: if request.auth != null && request.auth.uid == userId;
      allow read: if request.auth != null && request.auth.uid == userId;
    }

    match /user/{userId}/groups/{groupId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }    

    match /groups/{groupId} {
      allow read: if true; // อนุญาตให้ทุกคนสามารถอ่านข้อมูลจากคอลเล็กชัน groups ได้
      allow read, write: if request.auth != null;
    }
  }
}
